.navbar-brand{
	text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    }
.background-image{
    position: relative;
    background: url(../img/banner.jpg) no-repeat center;
    min-height: 620px;
    width: 100%;
    background-size: cover;
    background-color: rgb(.3,0,15,.4); /*To make background transparent*/
    background-blend-mode: overlay; /*To make background transparent*/
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}
.navbar-nav .icons{
	letter-spacing: 30px;
	font: icon;
	padding: 20px;
	color: #ffffff;
}
.icon-color{
	color: #ffffff;
}
.fixed-top {
    padding: 20px;
}
.icon-colour{
	color: #ff9800b3;
}
.navbar-nav .nav-item{
	font-family :sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.text-overlay{	
    position: absolute;
	top: -84%;
    left: -56%;
	transform: translate(50%, 150%);
}
.link-button{
	position: absolute;
	text-align: center;
	margin-left: 30%;
    text-transform: uppercase;
    color: #ffffff;
    border-color: #ffc107;
    padding: 14px 25px;
    display: inline;
    border-style: solid;
}
.heading{
	text-align: center;
    padding: 30px;
}
.sub-heading{
	text-align: center;
    color: #808080;
}

.text-overlay .btn{
    background: transparent;
    border: 1px solid #ff9800b3;
    border-radius: 0px;
    color: #ffffff;
}
.text-btn{
    background: transparent;
    border: 1px solid #ff9800b3;
    border-radius: 0px;
    color: #000000;	
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}

.img-fluid{
	width: 50%
	height:50%;
}
.overlay{
	line-height: 30px;
	padding: 10px;
}
.v1{
	border-left: 1px solid white;
	height: 20px;
	position: absolute;
}
.v2{
	height: 1px;
	width: 132px;
    background-color: #ff9800;
    margin: 0 auto;
    transform: rotate(90deg);
}
.bg-color{
	background-color: #c8c8c829;
}
.bg-color1{
	background-color: #000000ad;
}
.quotes{
	padding-top: 5px;
	text-align: end;
} 
.heading1{
	text-align: center;
	color: white;
}
.sub-heading1{
	text-align: center;
	color: #adb5bda8;
}
.image-block{
    height: 350px;
    width: 350px;
}
.text-block{
	position: absolute;
	z-index: 9;
    padding-left: 20px;
    color: #ffffff;
    margin-top: -100px;
}
.image-above {
	position: relative;
    z-index: 9;
    left: 0;
    right: 0;
    height: 400px;
    width: 360px;
    margin-top: -25px;
}
.price-license{
	border: 2px solid  #6c6f7d1c;
    padding: 60px 20px;
}
.desc{
	color: #ff9800b3;
}
.intuitive{
	padding-top: 80px;
}
.intuitive .h3{
	padding: 20px;
}
.image-intuit{
	position: relative;
}
.v3{
	position: absolute;
    margin-top: 160px;
    margin-left: 25px;
	height: 260px;
    width: 80%;
    background-color: #ffb01494;
}
.list-decor{
	list-style: none;
	font-size: large;
}
.greater-color{
	color: #ffb01494;
	padding: 10px;
}
.brd-color{
	border-top-color:#ffb01494; 
}
.list-decoration{
	list-style: none;
	text-align: left;
}
@media (min-width:991px){
	.text-overlay {
	top: auto;
    left: auto;
	display: table-cell;
	color: #ffffff;
    align-items: center;
    transform: translate(55%, 110%);
}
}